@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></a>Learned about building and deploying web apps with ASP.NET CORE on AZURE by GIT HUB ACTIONS</p>
    <p></a>Learned about update on azure pipelines</p>
</div>
