@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></a>Learned about building and deploying web apps with ASP.NET CORE on AZURE by GIT HUB ACTIONS</p>
    <p></a>Learned about update on azure pipelines</p>
    <p></a>Add new branches</p>
    <p></a>Merge between main and feature 02</p>
    <p></a>Testing rebase</p>
    <p></a>Using git flow branching strategy</p>
</div>
